<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pet Depot</title>
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
                <button v-on:click="showCheckout">
                    {{ cartItemCount }}
                    <span class="fas fa-cart-plus"></span> 
                    Checkout
                </button>
            </header>
            <main>
                <div v-if="showProduct">
                    <figure style="display: inline-block;">
                        <img v-bind:src="product.image" style="height: 125px; width: 100px;">
                    </figure>
                    <div id="info" style="display: inline-block;">
                        <h2 v-text="product.title"></h2>
                        <p v-html="product.description"></p>
                        <p>Price {{product.price}}</p>
                        <p>Available Stock: {{product.availableInv}}</p>
                        <button v-on:click="addCart" v-if="canAddToCart">Add to Cart</button>
                        <button disabled="disabled" v-else>Add to Cart</button>
                    </div>    
                </div>
                <div v-else>
                    <h2>Checkout</h2>
                </div>
            </main>
        </div>
        <script>
            let webstore = new Vue ({
                el: '#app',
                data: {
                    showProduct: true,
                    sitename: "Vue.js Pet Depot",
                    product: {
                        id:1001,
                        title: "Cat Food, 25lb bag",
                        description: "A 25 pound bag of <em>irresitable</em>,"+" organic goodness for your cat",
                        price:2000,
                        image:"images/product-fullsize.png",
                        availableInv: 5
                    },
                    cart: []
                },
                methods: {
                    addCart: function() {
                        this.cart.push(this.product.id);
                        this.product.availableInv --;
                    },
                    showCheckout: function(){
                        this.showProduct = this.showProduct ? false:true;
                    }
                },
                computed: {
                    cartItemCount: function(){
                        return this.cart.length || "";
                    },
                    canAddToCart: function(){
                        return this.product.availableInv > 0;
                    }
                }
                
            });
        </script>
    </body>
</html>